<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <title>Document</title>

</head>
<body>
    <div class="main">
        <header>
            <nav>
                <input id="nav-toggle" type="checkbox">
                <img src="./assets/ccc.jpg" class="logo">
                <ul class="links">
                    <li><a >Home</a></li>
                    <!-- <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li> -->
                </ul>
                <label for="nav-toggle" class="icon-burger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </label>
            </nav>
           
          </header>
          <br> <br> <br> 
         <div class="icon-arrow"><a routerLink="/StartLearning"><img src="./assets/fleche.png"></a></div>
        <h2>Our Services</h2>
        
        <div class="box_container">
            <div class="box">
                <i class="fab fa-html5"></i>
                <h2>HTML5</h2>
                <p>
                    HTML stands for HyperText Markup Language. It is a standard markup language for web page creation.</p>
                <a  class="btn">Read More</a>
            </div>
            <div class="box">
                <i class="fab fa-css3-alt"></i>
                <h2>CSS3</h2>
                <p>Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language such as HTML</p>
                <a  class="btn">Read More</a>
            </div>
            <div class="box">
                <i class="fab fa-js-square"></i>
                <h2>JavaScript</h2>
                <p>The JavaScript programming language is text-based and can be used on both client and server-side.
                     It controls multimedia within web pages and allows them to become interactive.
                      </p>
                <a class="btn">Read More</a>
            </div>
            <div class="box">
                <i class="fab fa-sass"></i>
                <h2>SASS</h2>
                <p>Sass is the most mature, stable, and powerful professional grade CSS extension language in the world.</p>
                <a class="btn">Read More</a>
            </div>
            <div class="box">
                <i class="	fab fa-node"></i>
                <h2>Node JS</h2>
                <p>Node.js allows developers to create both front-end and back-end applications using JavaScript.</p>
                <a  class="btn">Read More</a>
            </div>
            <div class="box">
                <i class="fab fa-angular"></i>
                <h2>Angular</h2>
                <p>Angular is an open-source, JavaScript framework written in TypeScript. Google maintains it, and its primary purpose is to develop single-page applications. </p>
                <a  class="btn">Read More</a>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
