<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <title>Menu</title>

        
    </head>
    <body>
        <header>
            <nav id="navbar">

                <input id="nav-toggle" type="checkbox">
                <img src="./assets/ccc.jpg" class="logo">
                <ul class="links">
                    <li><a routerLink="/Login">Home</a></li>
                    <!-- <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li> -->
                </ul>
                <label for="nav-toggle" class="icon-burger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </label>
            </nav>
          </header><br><br><br><br><br><br><br><br>
         
                <section class="home" id="home">

                    <div class="content">
                        <div class="box">
                            <span style="--i:1"><img src=".\assets\1.png"></span>
                            <span style="--i:2"><img src=".\assets\2.png"></span>
                            <span style="--i:3"><img src=".\assets\3.png"></span>
                            <span style="--i:4"><img src=".\assets\4.jpg"></span>
                            <span style="--i:5"><img src=".\assets\5.jpg"></span>
                            <span style="--i:6"><img src=".\assets\6.png"></span>
                            <span style="--i:7"><img src=".\assets\7.jpg"></span>
                            <span style="--i:8"><img src=".\assets\8.png"></span>
                        </div>
                    </div>
                    
                </section> <br><br><br>
                 
                 
                    
                   
                        <div class="cadre">
                            <div class="p1"> 
                              Socital generale digitizes the  Socital generale experience, providing an easy, powerful and secure way to connect Lean & Agile Teams of Teams in the new work environment.
                                 Discover a place where teams come together to manage operations, solve problems, brainstorm ideas and continuously improve.
                            </div>
                        </div>
                 
                        <!-- footer section starts   -->

                        <section class="footer">
                        
                            <div class="box-container">
                        
                                <div class="footer-conainer">
                                    <h3>quick links</h3>
                                    <a href="#">home</a>
                                    <a href="#">about</a>
                                    <a href="#">products</a>
                                    <a href="#">review</a>
                                    <a href="#">contact</a>
                                </div>
                        
                                <div class="footer-conainer">
                                    <h3>extra links</h3>
                                    <a href="#">my account</a>
                                    <!-- <a href="#">my order</a> -->
                                    <a href="#">my favorite</a>
                                </div>
                        
                                <div class="footer-conainer">
                                    <h3>locations</h3>
                                    <a href="#">Tunis</a>
                                    <a href="#">Bizerte</a>
                                    <a href="#">Tozeur</a>
                                    <a href="#">Mahdia</a>
                                </div>
                        
                                <div class="footer-conainer">
                                    <h3>contact info</h3>
                                    <a href="#">+216 9999999</a>
                                    <a href="#">Hibat Allah Hanchi</a>
                                    <a href="#">Bizerte</a>
                                    <img src=".\assets\payment.png" alt="">
                                </div>
                        
                            </div>
                        
                            <div class="credit"> created by <span> Mdme.Hanchi Hibat Allah </span> </div>
                        
                        </section>
                   
                
    </body>
</html>

