
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Learning</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
</head>
<body>
    <header>
        <nav>
            <input id="nav-toggle" type="checkbox">
            <img src="./assets/ccc.jpg"  class="logo">
            <ul class="links">
                <li><a >Home</a></li>
                <!-- <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li> -->
            </ul>
            <label for="nav-toggle" class="icon-burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </label>
        </nav>
      </header>
      <br> <br> <br> <br>
      <div class="icon-arrow"><a routerLink="/Home"><img src="./assets/fleche.png"></a></div>
<!-- Services -->
<div class="container">
    <!-- Service -->
    <div class="services">
        <div class="service">
            <i class="fas fa-check-double"></i>
            <h4 class="title"> Quality Assurance</h4>
            <p class="desc">
                Quality assurance (QA) is any systematic process of determining whether a product or service meets specified requirements.
            </p>
        </div>

        <div class="service">
            <a  routerLink="/Web Development"><i class="fab fa-dev"></i></a>
            <a  routerLink="/Web Development"><h2 class="title">Web Development</h2></a>
            <a  routerLink="/Web Development"> <p class="desc">
                Web development is the building and maintenance of websites; it’s the work that happens behind the scenes to make a website look great, 
                work fast and perform well with a seamless user experience.
            </p></a>
        </div>

        <div class="service">
            <i class="fas fa-code"></i>
            <h4 class="title">Devops</h4>
            <p class="desc">
                DevOps est une combinaison de philosophies culturelles,
                 de pratiques et d'outils qui améliore la capacité d'une entreprise à livrer des applications et des services à un rythme élevé. 
            </p>
        </div>

  
    </div>
</div>
</body>
</html>
