<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Login Form</title>
	
</head>
<body>
	<div class="box">
		<form autocomplete="off">
			<h2>Sign in</h2>
			<div class="inputBox">
				<input [(ngModel)]="membre.UserName" name="UserName"type="text" required>
				<span>Username</span>
				<i></i>
			</div>
			<div class="inputBox">
				<input [(ngModel)]="membre.password" name="password"type="password" required>
				<span>Password</span>
				<i></i>
			</div>
			
			<div class="links">
				<a href="#">Forgot Password ?</a>
			</div>
  
	<input type="submit" value="Login" (click)="registre()" >
			<input type="submit" value="Signup" (click)="GoToSignUp()">
		</form>
	</div>
</body>
</html>